<!DOCTYPE html>
<html>
<head>
<title>Cloud Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/cloud.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/cloud.js"></script>
</head>
<body onload="setupProjects(); setUpModal(); viewCurrentTags();createCloud();" onunload="">

<!--<div class="container">-->

<header>
   <h1>CloudDB Log Page</h1>
</header>



<!-- Navigation Bar -->
<div class="bar">
  <a href="http://ai2.appinventor.mit.edu/" class="bar-item">App Inventor</a>
  <a href="index.html" class="bar-item">Log View</a>
  <a href="cloud.html" class="bar-item">Cloud View</a>
</div>
<div class="project-selection">
    <div class="dropdown" id="project">
      <div style="clear: both" class="dropWrapper">
        <h2 id = "title"><strong>Project ID:</strong></h2>
        <button onclick="selectProject()" class="dropbtn" id="dropbtn">
          ProjectID <i class="fa fa-sort-down" style="font-size:24px"></i>
        </button>
      </div>
        <div id="projectDropdown" class="dropdown-content"></div>
    </div>
</div>
<!--Modal pop-up to add new project ID-->
<div id="projectModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <strong> ProjectID: </strong> 
    <input type="text" name="ProjectID" id="newProject">
  <button id="submit-button" onclick="addProject();"> Submit </button>
  </div>
</div>
<div class="dropdown" id="currentValues">
  <span onmouseover="viewCurrentTags();">Current Tags</span>
  <div class="dropdown-content" id="content">
    <div id="dropdownWrapper">
      <div id="tags">
      </div>
      <div id="values">
      </div>
    </div>
  </div>
</div>

<h2>History</h2>

<div id = "tstart" class="timeline-start">Most Recent</div>
<div id = "timeline" class="timeline"></div>
<div id = "tend" class="timeline-end">Least Recent</div>

<p id="lastUpdated"></p>

</div>
<script type="text/javascript">
var tags = {};
function createCloudFromEventStream(e){
  var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'};
  if (e.data != "1"){
    var dataList = JSON.parse(e.data);
    var date = new Date();
    var timeline = document.getElementById("timeline");
    var newDiv = document.createElement("div");
    document.getElementById('lastUpdated').innerHTML = 'Log was last updated ' + date.toLocaleString("en-US", options);
    tags[dataList.tag.toString()] = dataList.value.toString();
    sessionStorage.setItem("tags", JSON.stringify(tags));
    if (timeline.childElementCount > 0 && timeline.firstChild.className == 'container right'){
        newDiv.setAttribute('class', 'container left');
    }
    else{
        newDiv.setAttribute('class', 'container right');
    }
    var content = document.createElement("div");
        content.setAttribute('class', 'content');
        var p = document.createElement('p');
        var header = document.createElement("h5");
        p.innerHTML = "Tag (Description): " + "<strong> " + dataList.tag.toString() + "</strong>"+ ", Value (Data): " + dataList.value.toString() + ", Type: " +dataList.type.toString();
        date.setTime(dataList.updated);
        header.innerHTML = date.toLocaleString("en-US", options);
        content.appendChild(header);
        content.appendChild(p);
        newDiv.appendChild(content);
    timeline.insertBefore(newDiv, timeline.firstChild);
  }

}
var source = new EventSource('/stream');
/*source.addEventListener('refresh', function(e) {
    //$("#refresh").prepend(event.data + "<br>");
    window.location.reload(true);
    if (e.data == 'stream_end') { source.close() };
});*/
source.onmessage = function(e) {
    createCloudFromEventStream(e);
};
function closeStream(){
  source.close();
}

function createCloud(){
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'};
    var options2 = {month: 'short', day: 'numeric', hour: 'numeric'};
    var logFiles = {{ project_data | tojson }};
    var timeline = document.getElementById("timeline");
    var date = new Date();
    document.getElementById('lastUpdated').innerHTML = 'Log was last updated ' + date.toLocaleString("en-US", options);
    logFiles.sort(function (a, b) {
        return b.updated - a.updated;
    });
    date.setTime(logFiles[0].updated);
    document.getElementById('tstart').innerHTML = date.toLocaleString("en-US", options2);
    date.setTime(logFiles[logFiles.length - 1].updated);
    document.getElementById('tend').innerHTML = date.toLocaleString("en-US", options2);

    var date2 = new Date();
    for (var i = 0; i < logFiles.length; i++) {
        var logFile = logFiles[i];
        var newDiv = document.createElement("div");
        if (timeline.childElementCount > 0 && timeline.firstChild.className == 'container right'){
            newDiv.setAttribute('class', 'container left');
        }
        else{
            newDiv.setAttribute('class', 'container right');
        }
            content = document.createElement("div");
            content.setAttribute('class', 'content');
            var p = document.createElement('p');
            var header = document.createElement("h5");
            date2.setTime(logFile.updated);
            header.innerHTML = date2.toLocaleString("en-US", options);
            //p.innerHTML = "Project ID: " + logFile.projectid.toString() + ", Tag: " + logFile.tag.toString() + ", Value: " + logFile.value.toString() + "\n" + ", Type: " + logFile.type.toString();
            p.innerHTML = "Tag (Description): " + "<strong> " + logFile.tag.toString() + "</strong>"+", Value (Data): [" + logFile.value.toString() + "], Type: " + logFile.type.toString();
            content.appendChild(header);
            content.appendChild(p);
            newDiv.appendChild(content);
        timeline.appendChild(newDiv);
    };
  }
window.onunload = closeStream;

</script>
</body>
</html>

