{% include 'header.html' %}
<!-- TODO deprecated but left in as a test -->
<p id="lastUpdated"></p>
      <table border = 1>
      	<tr>
      		<th> ID </th>
      		<th> Tag </th>
      		<th> Value </th>
      		<th> Updated </th>
      		<th> Type </th>
         {% for pd in project_data %}
         
            <tr>
               <td> {{ pd.projectid }} </td>
               <td> {{ pd.tag}} </td>
               <td> {{ pd.value }} </td>
               <td> {{ pd.updated }} </td>
               <td> {{ pd.type }} </td>
            </tr>
         {% endfor %}
      </table>
</body>